<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle"><i class="fa fa-bars"></i></button><a href="/" class="navbar-brand page-scroll"><i class="ion-pound"></i><span class="light">SumNinjaCode</span></a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling-->
  <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
    <ul class="nav navbar-nav">
      <!-- Hidden li included to remove active class from about link when scrolled up past about section-->
      <li><a href="{{@blog.url}}/tag/projects" class="page-scroll">Projects</a></li>
      <li><a href="{{@blog.url}}/tag/tech" class="page-scroll">Tech</a></li>
      <li><a href="{{@blog.url}}/tag/drawings" class="page-scroll">Drawings</a></li>
      <li><a href="{{@blog.url}}/quotes" class="page-scroll">Quotes</a></li>
      <li><a href="{{@blog.url}}/about" class="page-scroll">About Me</a></li>
      <li class="hidden"><a href="{{@blog.url}}"></a></li>
      <li><a class="subscribe-button icon-feed" href="http://eepurl.com/7XFkD"><i class="ion-social-rss animated"></i></a></li>
    </ul>
  </div>
</div>