{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="text-center main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <a class="back-button icon-arrow-left" href="{{@blog.url}}"><i class="ion-pound"></i>Home</a>
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/"><i class="ion-pound"></i>Subscribe</a>
    </nav>
</header>

<main class="content container" role="main">

    <article class="post {{post_class}}">
        <header class="text-center">
            <h1 class="blog-post-title">
            <div class="title">{ <span class="title">{{title}}</span> }</div>
            <small><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD YYYY"}}</time></small>
            <h1>
            
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer text-center">

            <section id="tags">
                {{> "tags"}}
            </section>
            <br>

            <section class="share">
                <h4>
                    Share this post
                    <br><br>
                    <small>
                        <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" class="btn-circle btn-social"><i class="ion-social-twitter animated"></i></a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" class="btn-circle btn-social"><i class="ion-social-facebook animated"></i></a>
                        <a href="https://plus.google.com/share?url={{url absolute="true"}}" class="btn-circle btn-social"><i class="ion-social-googleplus animated"></i></a>
                        <a href="http://www.pinterest.com/pin/create/button/?url={{url absolute="true"}}&media=https://s3-us-west-2.amazonaws.com/sumninjacode/img/pinterestpost.png&description={{title}} | SumNinjaCode" class="btn-circle btn-social"><i class="ion-social-pinterest animated"></i></a>
                    </small>
                </h4>
            </section>

        </footer>

    </article>

</main>

{{!-- http://www.pinterest.com/pin/create/button/?url={{url absolute="true"}}&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=SumNinjaCode - {{title}}" --}}

{{/post}}
